<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://soundbuttons.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6dfc6ccf-a52e-40c8-bb74-cc116f56ec16/resourcegroups/cloud-shell-storage-southeastasia/providers/Microsoft.Web/sites/SoundButtons</ResourceId>
    <UserName>$SoundButtons</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://soundbuttons.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>