<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$SoundButtonsEastAsia</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://soundbuttonseastasia.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6dfc6ccf-a52e-40c8-bb74-cc116f56ec16/resourceGroups/soundbuttons/providers/Microsoft.Web/sites/SoundButtonsEastAsia</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://soundbuttonseastasia.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <ExcludeGeneratedDebugSymbol>False</ExcludeGeneratedDebugSymbol>
  </PropertyGroup>
</Project>